
[class^="eg-"]{
	padding: 1em  !important;
}

.eg-1 {
    color: red;
}

.eg-2 {
	color: white;
    background: darkblue;
}

.eg-3 {
	color: black;
    background: green;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.eg-4 {
	-webkit-animation : 2s spin infinite;
	        animation : 2s spin infinite;
}


@-webkit-keyframes spin { 
	0%{
		-webkit-transform:rotate(0deg);
		        transform:rotate(0deg); 
	}
	100% {
		-webkit-transform:rotate(360deg);
		        transform:rotate(360deg); 
	} 
}


@keyframes spin { 
	0%{
		-webkit-transform:rotate(360deg);
		        transform:rotate(360deg); 
	}
	100% {
		-webkit-transform:rotate(360deg);
		        transform:rotate(360deg); 
	} 
}

.cp_embed_iframe{
	max-width: 100% !important;
	max-height: 100% !important;
	height: 530px;
}

.clearimage{
	box-shadow: none !important;
	border: 0 !important;
}

.codetable{
	width: 100%;
}
.reveal .codetable td{
	text-align: center;
}